# Streamlit
streamlit==1.51.0
streamlit-autorefresh==1.0.1
streamlit-cookies-manager

# Data
pandas==2.2.2
numpy==1.26.4
plotly==5.9.0
requests==2.32.3

# Supabase (database only – REST for everything else)
postgrest==0.16.11
realtime==1.0.6
supafunc==0.3.3

# Required for postgrest
httpx==0.24.1
httpcore==0.16.3
h11==0.14.0